@tailwind base;
@tailwind components;
@tailwind utilities;

@import "~slick-carousel/slick/slick.css"; 
@import "~slick-carousel/slick/slick-theme.css";

@layer base{
    @font-face {
      font-family: "sf-bold";
      src: url('./fonts/sf-bold.woff') format('woff');
    }
    @font-face {
      font-family: "sf-medium";
      src: url('./fonts/sf-medium.woff') format('woff');
    }
    @font-face {
      font-family: "sf-regular";
      src: url('./fonts/sf-regular.woff') format('woff');
    }
  }

  @layer components{
    /*navbar*/
    .nav{
    @apply flex justify-between items-center w-full h-20 px-4 bg-[#323232] text-[#FFFFFF] relative z-20 ;
    }
    .logo{
    @apply inline-flex items-center hover:scale-105 duration-200 hover:text-[#14FFEC];
    }
    .navmobile{
    @apply flex flex-col justify-center items-center w-full h-screen text-white bg-[#323232] absolute top-0 left-0 md:hidden;
    }
    /*Homebody*/
    .herotxt{
    @apply text-4xl md:text-5xl px-5 md:px-24 lg:text-6xl lg:px-20 text-center font-sfbold text-[#14FFEC];
    }
    .herobtn{
    @apply text-lg py-2 px-10 md:text-xl lg:text-2xl md:py-3 md:px-12 lg:py-4 lg:px-16 rounded-3xl border-2 font-sfbold text-white bg-[#14FFEC]  border-gray-50 ;
    }
    /*Hero*/
    .h1{
      @apply text-2xl font-sfbold cursor-pointer ml-2 tracking-wide;
    }
    .h2{
      @apply text-xl font-sfbold px-3 cursor-pointer capitalize tracking-wider hover:scale-105 duration-200 hover:text-[#14FFEC];
    }
    .h3{
      @apply text-3xl font-sfbold px-3 py-3 cursor-pointer capitalize tracking-wide hover:scale-105 duration-200 hover:text-[#14FFEC];
    }
    .title{
      @apply text-center text-xl md:text-xl lg:text-3xl font-sfbold tracking-widest text-[#14FFEC] ;
    }
    .subtitle{
      @apply text-center text-xs md:text-base lg:text-xl font-sfreg tracking-widest text-[#FFFFFF] px-16 py-5 md:px-28 lg:px-48 lg:py-16 xl:px-56 xl:py-16;
    }
    .card{
      @apply justify-items-center grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-5 px-14 border-white;
    }
    .card2{
      @apply md:w-11/12 py-5 justify-items-center shadow-lg hover:scale-105 duration-500 rounded-lg shadow-[#14FFEC];
    }
    .cardtext{
      @apply text-center mt-2 font-sfreg text-xs lg:text-base text-[#FFFFFF];
    }
    .card3{
      @apply justify-items-center grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5 px-14;
    }
    .card3sub{
      @apply md:w-11/12 shadow-lg hover:scale-105 duration-500 rounded-lg shadow-[#14FFEC] px-2;
    }
    .ptitle{
      @apply py-3 px-2 text-center text-[#0D7377] text-lg lg:text-2xl font-sfbold;
    }
    .psub{
      @apply py-3 px-5 text-sm md:text-base text-center  text-white;
    }
    .p{
      @apply text-sm md:text-base text-center font-sfbold text-[#0D7377];
    }
    .pt{
      @apply px-2 pt-2 text-center text-lg lg:text-2xl font-sfbold text-[#14FFEC];
    }
    .pcont{
      @apply text-sm md:text-base text-center text-white font-sfreg px-3 pb-3;
    }
    .cardd3{
      @apply  grid grid-cols-1 md:grid-cols-3 gap-5 px-5;
    }
    .btnsm{
      @apply text-base py-2 px-5 md:text-lg lg:text-xl md:py-1 md:px-7 lg:py-1 lg:px-8 rounded-xl border-2 font-sfbold   text-[#323232] bg-[#14FFEC]  border-gray-50 duration-200 hover:scale-105;
    }
    .shopcard{
      @apply  shadow-lg rounded-lg shadow-[#14FFEC];
    }
    /*Artist*/
    .arthero{
      @apply w-9/12 h-5/6 m-auto shadow-lg rounded-lg shadow-[#14FFEC];
    }
    /*Bands*/
    .bandcard{
      @apply flex flex-col items-center justify-center py-2 px-3 w-10/12 h-5/6 mx-auto shadow-lg rounded-lg shadow-[#14FFEC] border-[#14FFEC]/100 border-2;
    }
    .bandsocial{
      @apply text-2xl hover:text-[#14FFEC];
    }
    .bandsc{
      @apply text-sm lg:text-base font-sfreg text-white px-2;
    }
    /*Shop*/
    .shopcard{
      @apply w-full grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-3 text-center mt-10;
    }
    .shopcard2{
      @apply shadow-lg rounded-lg mx-auto shadow-[#14FFEC] border-2 border-[#14FFEC]/100;
    }
    .shopbtn{
      @apply rounded-md text-base font-sfbold duration-200 py-2 px-6  hover:scale-105 text-[#323232] hover:text-[#EDECEC] bg-[#14FFEC] hover:bg-[#323232];
    }
    /*Foother*/
    .ftitle{
      @apply text-center font-sfbold text-[#14FFEC] text-2xl md:text-3xl lg:text-5xl py-5;
    }
    .fcard{
      @apply flex flex-col space-y-4 md:flex-row justify-between md:items-center mt-8;
    }
    .ficon{
      @apply font-sfbold text-white text-lg flex gap-2;
    }
    .ficontxt{
      @apply text-2xl text-[#14FFEC];
    }
    .fsocial{
      @apply hover:text-white text-3xl;
    }
    .fcol{
      @apply max-w-6xl mx-auto px-8 py-7 md:py-16;
    }
    .fsub{
      @apply text-center text-sm font-sfbold text-white pt-7;
    }
    .farr{
      @apply text-center text-base py-3 font-sfbold text-[#14FFEC];
    }
    /*Aboutus*/
    .aboutcrd{
      @apply w-9/12 h-5/6 mx-auto mt-10 shadow-lg rounded-lg shadow-[#14FFEC] border-[#14FFEC]/100 border-4;
    }
    .aboutdsc{
      @apply p-2 text-base lg:text-xl lg:p-7 text-center text-white;
    }
    .abouttitle{
      @apply text-2xl text-center font-sfbold pt-5 text-[#14FFEC];
    }
    /*Contact card*/
    .cinput{
      @apply w-full rounded-lg  p-3 text-sm hover:border-[#14FFEC] border-4 border-white;
    }
    .ccard{
      @apply grid grid-cols-1 gap-3 sm:grid-cols-2;
    }
    .cbtn{
      @apply inline-flex w-full items-center justify-center font-sfbold rounded-lg bg-[#14FFEC] px-5 py-3 text-[#323232] hover:border-white/100 sm:w-auto;
    }
     /*Signin*/
     .sgn{
      @apply mx-auto max-w-screen-xl px-4 py-16 sm:px-6 lg:px-8 ;
    }
     .sgncard{
      @apply mx-auto max-w-lg border-[#14FFEC]/100 border-4 rounded-md ;
    }
     .sgntitle{
      @apply text-center text-2xl font-bold text-[#14FFEC] sm:text-3xl pt-3;
    }
     .sgnform{
      @apply mt-6 mb-0 space-y-4 rounded-lg p-8 shadow-2xl ;
    }
     .sgnsub{
      @apply text-lg font-medium text-white;
    }
     .sgnlbl{
      @apply text-sm font-medium text-[#14FFEC];
    }
     .sgninp{
      @apply w-full rounded-lg border-gray-200 p-4 pr-12 text-sm shadow-sm;
    }
     .sgnbtn{
      @apply block w-full rounded-lg bg-[#14FFEC] px-5 py-3 text-sm font-medium text-white;
    }
    /*Signin*/
    .regcard{
      @apply flex justify-center items-center py-10;
    }
    .regmain{
      @apply flex items-center justify-center px-8 py-4 sm:px-12 lg:col-span-7 lg:py-5 lg:px-16 xl:col-span-6 border-[#14FFEC]/100 border-4 rounded-md;
    }
    .regtitle{
      @apply mt-4 text-2xl font-bold text-[#14FFEC]  sm:text-3xl md:text-4xl;
    }
    .regform{
      @apply mt-8 grid grid-cols-6 gap-6 py-2;
    }
    .reglbl{
      @apply block text-sm font-medium text-white;
    }
    .regimp{
      @apply mt-1 w-full rounded-md border-gray-200 bg-white text-sm text-gray-700 shadow-sm;
    }
    .regbtn{
      @apply inline-block shrink-0 rounded-md border bg-[#14FFEC] px-12 py-3 text-sm font-medium text-white hover:text-[#14FFEC] transition hover:bg-transparent focus:outline-none focus:ring;
    }
    .regfrd{
      @apply col-span-6 sm:col-span-3;
    }
    .regfrd2{
      @apply col-span-6;
    }
    .regspn{
      @apply text-white underline;
    }
}
